{% extends "base.html" %} 
{% load widget_tweaks %}

{% block head %}
{% load static %}
<link rel="stylesheet" href={% static "css/index.css" %}>
{% endblock head %}
{% block content %}
<div>
   <div class="title">
      <h1>Content-Based Image Retrieval</h1>
   </div>
   <nav>
      <div>
         <a href="{% url 'howtouse' %}">How To Use</a>
      </div>

      <div>
         <a class="start" href="{% url 'step1' %}">START!</a>
     </div>

      <div>
         <a href="{% url 'learnmore' %}">Learn More</a>
      </div>

      <div>
         <a href="{% url 'aboutus' %}">About Us</a>
     </div>
   </nav>

</div>
{% endblock content %}