{% extends "base.html" %} 
{% block head %}
{% load static %}
<link rel="stylesheet" href={% static "css/learnmore.css" %}>
{% endblock head %}

{% block content %}
<section>
    <div class="content">
        
        <div class="subtitle">
            <div class="filler-title">
                <div>
                    <a class="link-home" href='../'>Main Menu</a>
                </div>
            </div>

            <div class="main-title">
                <h1>CBIR Concepts</h1>
            </div>

            <div class="filler-title">
    
            </div>
        </div>
        

        <div class="wrapper">

            <section>
                <div class="steps">
                    <p>1. Pada halaman menu utama, tekan tombol <b>START!</b><br>
                    2. Upload gambar yang ingin dibandingan dengan dataset<br>
                    3. Upload kumpulan gambar yang ingin dijadikan sebagai dataset<br>
                    4. Lakukan pencarian dengan parameter warna atau tekstur</p>
                </div>
            </section>

        </div>
    </div>
</section>

{% endblock content %}